/* ======================================== */
/* =============== MySearch =============== */
/* ======================================== */

.mysearch {
  background-color: $bg-white;
  box-sizing: border-box;
  padding: 24px;
  position: fixed;
  top: 150px;
  width: 280px;
  z-index: 1000;

  &__content {
    //
    &-result {
      padding: 7px 14px;

      &:hover {
        color: $secondary;
        background-color: $bg-silver;
      }
    }
  }
}

@media screen and (min-width: 720px) {
  .mysearch {
    width: 423px;
    box-sizing: border-box;
    position: absolute;
    left: 370px;
    background-color: $bg-white;
    border: 1px solid $secondary;
    top: 72px;
  }
}
