/* ======================================== */
/* ================= Navbar =============== */
/* ======================================== */

.navbar {
  align-items: center;
  background-color: $bg-white;
  display: flex;
  flex-direction: row;
  height: 72px;
  justify-content: space-evenly;

  &__login {
    align-items: center;
    border: 1.5px solid $secondary;
    color: $bg-white;
    font-weight: 500;
    display: flex;
    font-size: 14px;
    height: 38px;
    justify-content: center;
    width: 110px;
    &:hover {
      background-color: $bg-white;
      color: $secondary;
    }
  }

  &__search {
    align-items: center;
    display: flex;

    &-icon {
      height: 20.05px;
      width: 20.05px;
    }
  }

  &__email {
    list-style: none;
    &:hover {
      color: $secondary;
    }
  }

  &__shopping {
    position: relative;
  }

  &__shopping div {
    align-items: center;
    background-color: $bg-green;
    border-radius: 50%;
    display: flex;
    font-weight: bold;
    height: 21px;
    justify-content: center;
    position: absolute;
    top: -13px;
    right: -10px;
    width: 21px;
  }
}

@media screen and (max-width: 720px) {
  .tooglesearch {
    display: none;
  }
}

@media screen and (min-width: 720px) {
  .navbar__search {
    display: none;
  }
}
