/* ======================================== */
/* =============== NotFound =============== */
/* ======================================== */

.notfound__container {
  display: flex;
  background-color: $bg-silver;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.notfound {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 60vh;
  text-align: center;

  &__title {
    margin-top: 25px;
    color: $tertiary;
    font-size: 2rem;
  }

  &__redirect {
    color: $tertiary;
    padding: 1rem 0;
    &:hover {
      color: $secondary;
    }
  }
}
